nav {
    text-align: center;
    padding-bottom: 0.2em;
    padding: 2em 0 1em 0;
    background-color: #efefef;
    box-shadow: -3px 3px 10px 0px rgba(168, 168, 168, 0.7);
  }
  
  nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  p,
  li {
    font-size: 1.5rem;
  }
  
  ul {
    list-style: none;
  }
  
  input,
  select,
  textarea {
    padding: 0.4em 0.2em;
    font-size: 2rem;
  }
  
  nav a,
  nav a:link {
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: 100;
  }
  
  .active {
    font-weight: bold;
  }

  #searchForm{
      width: 100%
  }